.App {
  text-align: center;
}
.nav-container {
  background-color: rgb(155, 197, 234);
  .nav {
    display: flex;
    // align-items: flex-end;
    justify-content: flex-end;
    .nav-link {
      margin: 0px 15px 0px 15px;
      text-decoration: none;
      color: #000;
    }
  }
}
.create-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.create-form {
  display: flex;

  flex-direction: column;
}
.formGroup {
  margin-bottom: 10px;
}
.list-box {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
button,
input {
  margin: 10px;
}
.kvc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
$color: rgb(20, 212, 49);
.btn {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin: 5px;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
.addButton,
.regCodeInput {
  width: 50%;
  text-align: center;
}
.createForm {
  margin-bottom: 10px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
}

.item,
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.item-body {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.data-header {
  text-align: left;
  margin-left: 15px;
}
$colorred: crimson;
.red-button {
  background-color: crimson;

  &:after {
    background-color: $colorred;
  }
  &:before {
    background-color: darken($colorred, 15%);
  }
}
$colororange: orange;
.orange-button {
  background-color: orange;

  &:after {
    background-color: $colororange;
  }
  &:before {
    background-color: darken($colororange, 15%);
  }
}
.list-container {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
.scooters-container {
  flex-grow: 5;
}
.list-box-front {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  
  margin-left: 20px;
}
.items-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  padding-inline-start: 0px;
  margin: 5px;
}
.list-group-item {
  padding: 15px;
  border: 2px solid black;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin: 5px;
  
}
.flex-front {
  display: flex;
  flex-direction: row;
}
.list-header {
  border-bottom: 2px solid black;
  width: 100%;
  text-align: center;
}
.item-colors {
  border: 2px solid black;
  margin: 10px;
}
.list-group {
  padding-inline-start: 0px;
  margin: 5px;
}
.item-scooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .comments{
    max-width: 600px;
    display: flex;
    text-align: start;
    // justify-content: flex-start;
    // align-items: flex-start;
  }
}
.item-comment {
  display: flex;
  flex-direction: column;
  textarea {
    width: 300px;
    height: 100px;
  }
}
.item-front {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.back-comments {
  display: inline-block;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  .back-comments-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .back-comment {
      text-align: start;
    }
  }
}





// Modal styling

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContainer {
  min-width: 500px;
  // height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.modalContainer .modalForm {
  // flex: 50%;
  display: flex;
  justify-content: center;
  // align-items: center;
  font-size: 1.5rem;
  text-align: center;
  flex-wrap: wrap;
}
.modalForm .formGroup {
  display: flex;
  align-items: center;
}
.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalButtons button {
  width: 150px;
  height: 45px;
  margin: 30px 20px 0px 20px;
  // border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.modalButtons .red-button {
  background-color: crimson;
}

.sorting-container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.sort-item {
  margin-top: 30px;
}
.sorting-label {
  margin-right: 8px;
}
.color-small {
  display: inline-flex;
}
label {
  margin-right: 15px;
}
select {
  margin-left: 15px;
}
.show-message {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.message-success {
  background-color: green;
  padding: 5px 30px 5px 30px;
  margin: 5px 30px 5px 30px;
  border-radius: 5px;
}
.message-danger {
  background-color: crimson;
  padding: 5px 30px 5px 30px;
  margin: 5px 30px 5px 30px;
  border-radius: 5px;
}
